@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-image:  url(../img/mh.jpg);
    background-size: cover;
    color: white;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: #012A36;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    height: 11vh;
    margin-bottom: 20px;
}

.logo{
    font-size: 3rem;
    color: #D3D0CB;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

/*edicion del navegador*/
nav ul a{
    font-size: 1.8rem;
    color: #D3D0CB;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

nav ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #D36135;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;

}

nav ul li:hover:after{
    width: 100%;
}  

nav a:hover,
nav a.active{
    color: #D36135;
}




section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

/*alineacion del contenido*/
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}
/* edicion del contenido*/
.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content {
    padding: 25px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}

span{
    color: #000000;
}

.home-content h3, .product-conteiner .info-conteiner h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p, .info-conteiner p{
    font-size: 1.6rem;
}

/*edicion de imagen*/




.btn-start {
    margin-top: 5%;
}

.btn__start{
    
  display: flex;
  justify-content: center;
}

.btn{
    margin-top: 2.5rem;
    padding: 1rem 2.8rem;
    background: transparent;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #ffffff;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #000000;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #ff3c00;
    color: #000000;
    box-shadow: 0 0 25px #FFFD98;
}

/*creacion de cambio de texto*/
.typing-text{
    color: #D36135;
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text-home{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text-home span{
    position: relative;
}

.typing-text-home span::before{
    content: "Web Developer";
    color: #D36135;
    animation: words 20s infinite;
}

.typing-text-home span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid #9BC4CB;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid #f7f7f7;
    }
}

@keyframes words{
    0%, 20%{
        content: "Developer";
    }
    41%, 60%{
        content: "Web Designer";
    }
}



/* edicion de los contenedores*/
.content-conteiner-experience {
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/img.jpg');
    background-size: cover;


}



.conteiner__experience {
    width: 80%;
    padding: 25px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);
    border-radius: 10px;
    display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

/*edicion experience*/

.info-conteiner-experience {
    width: 100%;
    display: flex;             
    flex-direction: column;   
    align-items: center;      
    justify-content: center; 
    text-align: center; 
}

 .conteiner-experience{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
} 

.programing-icon {
    font-size: 100px;
    gap: 0px;
    margin: 30px;


}
.programing-icon svg {
    width: 50px;
    margin: 20px;
    margin-top: 20px;

}





.para-education{
    font-size: 1.6rem
}

.para-experience{
    font-size: 1.6rem;
    padding-top: 20px;
    margin-bottom: 10px;
}

/*edicion de skill fin*/

/*edicion de proyectos*/

.content-conteiner {
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-image: url(../img/ima.jpg);
    background-size: cover;

}



.product-conteiner {
    width: 100%;
    padding: 25px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);
    border-radius: 10px;
    display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
    height: 40vh; /*altura del conteiner*/
}


.info-conteiner {
    width: 100%;
    display: flex;             
    flex-direction: column;   
    align-items: center;      
    text-align: center; 
}

.para-proyects{
    padding-top: 20px;

}

.proyecto {
    
	overflow: hidden;
	text-align: center;
	width: 240px;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items:center;
	border-radius: 1.2rem;
    margin: 20px;
}



/* animacion de los botones*/
.proyecto-title{
    display: inline-block;
    padding: 1rem 2.8rem;
    margin: 2rem;
    background: transparent;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #ffffff;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #000000;
    transition: 0.3s ease;
    cursor: pointer;
}

.proyecto-title:hover{
    transform: scale3d(1.03);
    background-color: #ff3c00;
    color: #ffffff;
    box-shadow: 0 0 25px #FFFD98;
    border-color: #000000;

} 

/*contact*/

.contact-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: #012A36;
}

.contact__container{
    
    width: 100%;
    padding: 25px;
    background-color: #D3D0CB;
    border: 2px solid rgba(255, 255, 255, 2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);
    border-radius: 10px;
    text-align: center;
}




.typing-text-contact{
    font-size: 15px;
    color: #424B54;
    font-weight: 600;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-button {
    display: inline-block;
    padding: 1rem 2.8rem;
    margin: 2rem;
    background: transparent;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #424B54;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #424B54;
    transition: 0.3s ease;
    cursor: pointer;
}

.submit-button:hover {
    
    transform: scale3d(1.03);
    background-color: #ff3c00;
    color: #ffffff;
    box-shadow: 0 0 25px #000000;
    border-color: #000000;

}
