/* Ajustes generales para el footer */
html, body {
    height: 100%;
    margin: 0; 
}

/* Estilos del header */
.header-bg {
    position: relative;
    background-color: #ffffff;
}

.header-content {
    position: relative; /* Mantiene el contenido en su lugar */
    z-index: 1; /* Asegura que el texto esté por encima de la superposición */
    color: white; /* Cambia el color del texto si es necesario */
}

.wrapper .header-bg .portfolio-title {
    font-size: 2.5em;
    color: #333;
    text-align: center;
    margin: 0; /* Elimina el padding innecesario */
}

.wrapper .header-bg .portfolio-description {
    font-size: 1.2em;
    color: #333;
    text-align: center;
    margin: 0; /* Elimina el padding innecesario */
}

/* Estilos para la animación */
.animated {
    opacity: 0; /* Inicialmente oculto */
    transform: translateY(20px); /* Desplazado hacia abajo */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transiciones */
}

.animated.visible {
    opacity: 1; /* Visible */
    transform: translateY(0); /* Regresa a su posición original */
}

.wrapper .container {
    align-items: center;
    justify-content: center;
    padding: 100px;
}
/* Estilos para la lista de proyectos */
.project-list {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    text-align: left; /* Alinea el texto a la izquierda */
}

.project-list li {
    margin: 10px 0; /* Espacio entre los elementos de la lista */
}

.project-list a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: #ffffff; /* Color del texto del enlace */
    font-size: 1.2em; /* Tamaño de fuente de los enlaces */
    transition: color 0.3s; /* Transición suave para el color */
}

.project-list a:hover {
    color: #1a0979; /* Color del enlace al pasar el mouse */
}

/* Estilos del footer */
.wrapper {
    min-height: 100%;
    margin-bottom: -50px; /* Altura del footer + margen adicional */
}

.wrapper:after {
    content: "";
    display: block;
    height: 30px; /* Altura del footer */
}

.footer {
    background-color: #f7f3cf;
    color: #333;
    position: relative; /* Cambiado de sticky a relative */
    width: 100%;
    padding: 20px 0; /* Ajusta el padding superior e inferior */
}

.footer a {
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;
}

.footer a i {
    margin-right: 5px; /* Espaciado entre el icono y el texto */
    font-size: 1.2em; /* Tamaño del icono */
}

.footer a:hover {
    text-decoration: underline;
}
